<button mat-raised-button [routerLink]="''">Login</button>

<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-card-title fxFlex="100" fxFlexOffset="10" fxLayoutAlign="center center">Registro de Novos
      Usuários</mat-card-title>
    <div class="main-div">
      <mat-card-content>
        <form #f="ngForm"  fxLayoutAlign="street" fxLayout="column" [formGroup]="registerForm" (ngSubmit)="register()">


          <mat-form-field>
            <input type="email" matInput placeholder="Email" formControlName="email">
            <mat-error
              *ngIf="this.registerForm.get('email')?.touched && this.registerForm.get('email')?.hasError('required')">
              Um email deve ser informado!</mat-error>
            <mat-error
              *ngIf="this.registerForm.get('email')?.touched && this.registerForm.get('email')?.hasError('email')">
              Um email válido deve ser informado!</mat-error>
          </mat-form-field>



          <mat-form-field>
            <input type="text" matInput placeholder="Nome Completo" formControlName="nome">
            <mat-error
              *ngIf="this.registerForm.get('nome')?.touched && this.registerForm.get('nome')?.hasError('required')">
              O nome completo deve ser informado!</mat-error>
          </mat-form-field>



          <mat-form-field>
            <mat-label>Data de Nascimento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="data_nascimento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error
              *ngIf="this.registerForm.get('data_nascimento')?.touched && this.registerForm.get('data_nascimento')?.hasError('required')">
              A data de Nascimento deve ser informada!</mat-error>
          </mat-form-field>



          <mat-form-field>
            <input matInput ngModel [imask]="cepMask" placeholder="CEP" formControlName="CEP" value="00000-00"
            (blur)="consultaCEP(applyFilter($event), f)">
            <mat-error
              *ngIf="this.registerForm.get('CEP')?.touched && this.registerForm.get('CEP')?.hasError('required')">
              O CEP deve ser informado!</mat-error>
          </mat-form-field>



          <mat-form-field>
            <input matInput ngModel placeholder="endereco" formControlName="endereco">
            <mat-error
              *ngIf="this.registerForm.get('endereco')?.touched && this.registerForm.get('endereco')?.hasError('required')">
              O endereço completo deve ser informado!</mat-error>
          </mat-form-field>



          <mat-form-field>
            <input matInput ngModel  placeholder="cidade" formControlName="cidade">
            <mat-error
              *ngIf="this.registerForm.get('cidade')?.touched && this.registerForm.get('cidade')?.hasError('required')">
              A cidade deve ser informado!</mat-error>
          </mat-form-field>



          <mat-form-field>
            <input matInput ngModel placeholder="estado" formControlName="estado">
            <mat-error
              *ngIf="this.registerForm.get('estado')?.touched && this.registerForm.get('estado')?.hasError('required')">
              A cidade deve ser informado!</mat-error>
          </mat-form-field>



          <mat-form-field>
            <input type="password" matInput placeholder="senha" formControlName="senha">
            <mat-error
              *ngIf="this.registerForm.get('senha')?.touched && this.registerForm.get('senha')?.hasError('required')">
              Uma senha deve ser informada!</mat-error>
          </mat-form-field>



          <mat-form-field>
            <input type="password" matInput placeholder="Confirme sua Senha" formControlName="passwordConfirm">
            <mat-error
              *ngIf="this.registerForm.get('passwordConfirm')?.touched && this.registerForm.get('passwordConfirm')?.hasError('required')">
              Confirme sua senha!</mat-error>
          </mat-form-field>
          <mat-error
            *ngIf="this.registerForm.get('passwordConfirm')?.dirty && this.registerForm.hasError('passwordsNotMatching')">
            Passwords are not matching!</mat-error>


          <div class="button" fxFlex="100" fxFlexOffset="3" fxLayoutAlign="center center">
            <button type="submit" mat-button [disabled]="!registerForm.valid">Registre-se</button>
          </div>

        </form>
      </mat-card-content>
    </div>

  </mat-card>
</div>